<a href="https://colab.research.google.com/github/DendaRaniaRatu/Mechine-Learning_Week1/blob/main/Homework_Week_1_ipynAb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

2. Basic Data Exploration

In [ ]:
# save filepath to variable for easier access
melbourne_file_path = '../content/drive/My Drive/dataset/melb_data.csv'
# read the data and store data in DataFrame titled melbourne_data
melbourne_data = pd.read_csv(melbourne_file_path)
# print a summary of the data in Melbourne data
melbourne_data.describe()

              Rooms         Price  ...    Longtitude  Propertycount
count  13580.000000  1.358000e+04  ...  13580.000000   13580.000000
mean       2.937997  1.075684e+06  ...    144.995216    7454.417378
std        0.955748  6.393107e+05  ...      0.103916    4378.581772
min        1.000000  8.500000e+04  ...    144.431810     249.000000
25%        2.000000  6.500000e+05  ...    144.929600    4380.000000
50%        3.000000  9.030000e+05  ...    145.000100    6555.000000
75%        3.000000  1.330000e+06  ...    145.058305   10331.000000
max       10.000000  9.000000e+06  ...    145.526350   21650.000000

[8 rows x 13 columns]

In [ ]:
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [ ]:
# dropna drops missing values (think of na as "not available")
melbourne_data = melbourne_data.dropna(axis=0)

In [ ]:
y = melbourne_data.Price
y.describe()

count    6.196000e+03
mean     1.068828e+06
std      6.751564e+05
min      1.310000e+05
25%      6.200000e+05
50%      8.800000e+05
75%      1.325000e+06
max      9.000000e+06
Name: Price, dtype: float64

In [ ]:
melbourne_features = {'Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude'}

In [ ]:
x = melbourne_data[melbourne_features]

In [ ]:
x.describe()

         Lattitude        Rooms     Bathroom   Longtitude      Landsize
count  6196.000000  6196.000000  6196.000000  6196.000000   6196.000000
mean    -37.807904     2.931407     1.576340   144.990201    471.006940
std       0.075850     0.971079     0.711362     0.099165    897.449881
min     -38.164920     1.000000     1.000000   144.542370      0.000000
25%     -37.855438     2.000000     1.000000   144.926198    152.000000
50%     -37.802250     3.000000     1.000000   144.995800    373.000000
75%     -37.758200     4.000000     2.000000   145.052700    628.000000
max     -37.457090     8.000000     8.000000   145.526350  37000.000000

In [ ]:
x.head()

   Lattitude  Rooms  Bathroom  Longtitude  Landsize
1   -37.8079      2       1.0    144.9934     156.0
2   -37.8093      3       2.0    144.9944     134.0
4   -37.8072      4       1.0    144.9941     120.0
6   -37.8024      3       2.0    144.9993     245.0
7   -37.8060      2       1.0    144.9954     256.0

In [ ]:
x.tail()

       Lattitude  Rooms  Bathroom  Longtitude  Landsize
12205  -37.51232      3       2.0   145.13282     972.0
12206  -37.86558      3       1.0   144.90474     179.0
12207  -37.85588      1       1.0   144.89936       0.0
12209  -37.85581      2       1.0   144.99025       0.0
12212  -37.81038      6       3.0   144.89389    1087.0

3. Build The Model

In [ ]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same result each run 
melbourne_model = DecisionTreeRegressor(random_state=1)

In [ ]:
# Fit model
melbourne_model.fit(x,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [ ]:
# Test the result on training data
print("Making predictions for the following 5 houses:")
print(x.head())
print("The predictions are")
print(melbourne_model.predict(x.head()))

Making predictions for the following 5 houses:
   Lattitude  Rooms  Bathroom  Longtitude  Landsize
1   -37.8079      2       1.0    144.9934     156.0
2   -37.8093      3       2.0    144.9944     134.0
4   -37.8072      4       1.0    144.9941     120.0
6   -37.8024      3       2.0    144.9993     245.0
7   -37.8060      2       1.0    144.9954     256.0
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

4. Model Validation

In [ ]:
# Calculate the mean absolute error MSE:

from sklearn.metrics import mean_absolute_error

predicted_home_prices = melbourne_model.predict(x)
mean_absolute_error(y, predicted_home_prices)

1115.7467183128902

In [ ]:
# use some of that data as training data to fit the model,
# and use the other data as validation data to calculate mean_absolute_error

In [ ]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to 
# the random_state argument guarantees we get the same split every time we
# run this script 
train_x, val_x, train_y, val_y = train_test_split(x, y, random_state = 0)

In [ ]:
# Define model
melbourne_model = DecisionTreeRegressor()
# Fit Model
melbourne_model.fit(train_x, train_y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [ ]:
# get predicted prices on validation data 
val_predictions = melbourne_model.predict(val_x)
print(mean_absolute_error(val_y, val_predictions))

273423.9122014203

5. Underfitting and Overfitting

In [ ]:
# use a utility function to help compare MAE scores from different values for max_leaf_nodes :

from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_x, val_x, train_y, val_y):
  model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
  model.fit(train_x, train_y)
  preds_val = model.predict(val_x)
  mae = mean_absolute_error(val_y, preds_val)
  return(mae)

In [ ]:
# compare MAE with differing value of max_leaf_nodes
for max_leaf_nodes in [5, 50, 500, 5000]:
  my_mae = get_mae(max_leaf_nodes, train_x, val_x, train_y, val_y)
  print("Max leaf nodes: %d \t\t Mean Absolute Error: %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5 		 Mean Absolute Error: 385696
Max leaf nodes: 50 		 Mean Absolute Error: 279794
Max leaf nodes: 500 		 Mean Absolute Error: 263656
Max leaf nodes: 5000 		 Mean Absolute Error: 275719

6. Random Forest Model

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_x, train_y)
melb_preds = forest_model.predict(val_x)
print(mean_absolute_error(val_y, melb_preds))

207217.3644925041

In [ ]:
print("Making Predictions for the following 10 houses:")
print(x.head(10))
print("The predictions are")
print(forest_model.predict(x.head(10)))

Making Predictions for the following 10 houses:
    Lattitude  Rooms  Bathroom  Longtitude  Landsize
1    -37.8079      2       1.0    144.9934     156.0
2    -37.8093      3       2.0    144.9944     134.0
4    -37.8072      4       1.0    144.9941     120.0
6    -37.8024      3       2.0    144.9993     245.0
7    -37.8060      2       1.0    144.9954     256.0
9    -37.8010      2       1.0    144.9989     220.0
11   -37.8085      3       2.0    144.9964     214.0
12   -37.8078      2       2.0    144.9965       0.0
15   -37.8090      2       1.0    144.9976     238.0
16   -37.8056      3       2.0    144.9930     113.0
The predictions are
[1041445.         1175056.66666667 1480450.         1753480.
 1203310.         1119630.         1432070.          780220.
 1121000.         1185765.        ]

In [ ]:
forest_model

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=1, verbose=0, warm_start=False)